<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
      crossorigin="anonymous"
    />

    <title>Author Edit Page</title>
  </head>
  <body>
    <div class="container">
      <h1 class="text-center mt-4 mb-4 p-4 bg-success text-white">
        Author's Edit Page
      </h1>
      <a href="/user/Author-Home-Page" class="btn btn-secondary mb-4"
        >Author Home Page</a
      >
      <%existingData.forEach(existingData => {%>
      <form
        action="/user/Author-edit/confirm-edit/<%= existingData.articles_record_id %>"
        method="post"
      >
        <div class="container border p-4 border p-4 border border-dark rounded">
          <label for="Title">Title</label>
          <br />
          <input
            class="border border-dark w-100"
            type="text"
            id="articles_Title"
            name="articles_Title"
            value="<%=existingData.articles_Title%>"
          />
          <br />
          <label for="Subtitle">Subtitle</label>
          <br />
          <input
            class="border border-dark w-100"
            type="text"
            id="articles_Subtitle"
            name="articles_Subtitle"
            value="<%=existingData.articles_Subtitle%>"
          />
          <br />
          <label for="Content">Content</label>
          <br />
          <textarea
            class="form-control border border-dark"
            id="articles_Content"
            name="articles_Content"
            rows="6"
          >
<%=existingData.articles_Content%></textarea
          >
          <p class="mt-2 mb-0">
            Date Created: <%=existingData.articles_DateCreated%>
          </p>
          <p>Last Modified: <%=existingData.articles_DateModified%></p>

          <button type="submit" class="btn btn-primary mt-3">
            Confirm Edit
          </button>
        </div>
      </form>
      <% })%>
    </div>
  </body>
</html>
